.box-tocart {
    .express-checkout {
        width: 50%;
    }
}

.express-checkout {
    padding: 0;
    border: none;
    width: 50%;

    &:hover {
        border: none;
    }
}

.block-minicart {
    .express-checkout {
        width: 100%;
    }
}

.express-wrapper {
    float: right;
    text-align: end;
    margin-right: 10px;
}

.checkout-cart-index {
    .express-checkout {
        width: 100%;
    }
}
